<?xml version="1.0"?>
<!--
/**
 * Dc_Decidir
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   Dc
 * @package    Dc_Decidir
 * @copyright  Copyright (c) 2015 Damián Culotta. (http://www.damianculotta.com.ar/)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Dc_Decidir>
            <version>0.1.0</version>
        </Dc_Decidir>
    </modules>
    <frontend>
        <routers>
            <decidir>
                <use>standard</use>
                <args>
                    <module>Dc_Decidir</module>
                    <frontName>decidir</frontName>
                </args>
            </decidir>
        </routers>
        <layout>
            <updates>
                <decidir>
                    <file>dc/decidir.xml</file>
                </decidir>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
		<translate>
            <modules>
                <Dc_Decidir>
                    <files>
                        <default>Dc_Decidir.csv</default>
                    </files>
                </Dc_Decidir>
            </modules>
        </translate>
    </adminhtml> 
	<global>
        <blocks>
            <decidir>
                <class>Dc_Decidir_Block</class>
            </decidir>
        </blocks>
        <models>
            <decidir>
                <class>Dc_Decidir_Model</class>
            </decidir>
        </models>
        <resources>
            <decidir_setup>
                <setup>
                    <module>Dc_Decidir</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </decidir_setup>
            <decidir_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </decidir_write>
            <decidir_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </decidir_read>
        </resources>
        <helpers>
            <decidir>
                <class>Dc_Decidir_Helper</class>
            </decidir>
        </helpers>
    </global>
    <default>
        <payment>
            <decidir>
                <active>0</active>
                <title>Decidir</title>
                <model>decidir/decidir</model>
                <order_status>pending</order_status>
                <payment_action>sale</payment_action>
                <allowspecific>0</allowspecific>
                <installments>1</installments>
            </decidir>
        </payment>
    </default>
</config>
